.familyTreeContainer{
    border: 2px inset rgb(141, 141, 141);
    border-radius: 4px;
    background-color: white;
    display: flex;
    padding: 10px;
}

.treeSection{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.treeParent{
    display: flex;
    justify-content: center;
}

.treeChild{
    display: flex;
    justify-content: space-around;
}

.childContainer{
    display: flex;
    flex-direction: column;
}